In [2]:
import pandas as pd
from sklearn.decomposition import PCA
import statistics
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.decomposition import NMF

In [3]:
data=pd.read_csv('8_Features.csv')
data.tail()

,Unnamed: 0,UserID,TrackId,AlbumId,ArtistId,Track,Genre1,Genre2,Genre3,Genre4,Genre5,Genre6,Genre7,Genre8
119995,119995,249010,72192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
119996,119996,249010,86104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
119997,119997,249010,186634,90.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
119998,119998,249010,293818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
119999,119999,249010,262811,90.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [4]:
data=data[['AlbumId','ArtistId','Track','Genre1','Genre2','Genre3','Genre4','Genre5','Genre6']]
data

,AlbumId,ArtistId,Track,Genre1,Genre2,Genre3,Genre4,Genre5,Genre6
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
119995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119997,90.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119999,90.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#Feature Engineering

#Summation ---> AlbumId+ArtistId
data['Feature1']=data['AlbumId'].values+data['ArtistId'].values

#Average ---> AlbumId+ArtistId
data['Feature2']=(data['AlbumId'].values+data['ArtistId'].values)/2

#Weighted Average --->  0,7 and 0,3  AlbumId+ArtistId
data['Feature3']=(0.7*data['AlbumId'].values+0.3*data['ArtistId'].values)/2

#Weighted Average --->  0,75 and 0,25  AlbumId+ArtistId
data['Feature4']=(0.75*data['AlbumId'].values+0.25*data['ArtistId'].values)/2

#Weighted Average --->  0,8 and 0,2  AlbumId+ArtistId
data['Feature5']=(0.8*data['AlbumId'].values+0.2*data['ArtistId'].values)/2

#Weighted Average --->  0,85 and 0,15  AlbumId+ArtistId
data['Feature6']=(0.85*data['AlbumId'].values+0.15*data['ArtistId'].values)/2

#Weighted Average --->  0,90 and 0,10  AlbumId+ArtistId
data['Feature7']=(0.90*data['AlbumId'].values+0.10*data['ArtistId'].values)/2

#Weighted Average --->  0,95 and 0,05  AlbumId+ArtistId
data['Feature8']=(0.95*data['AlbumId'].values+0.5*data['ArtistId'].values)/2

#Summation ---> AlbumId+ArtistId+Track
data['Feature9']=data['AlbumId'].values+data['ArtistId'].values+data['Track'].values

#Average ---> AlbumId+ArtistId+Track/3
data['Feature10']=(data['AlbumId'].values+data['ArtistId'].values+data['Track'].values)/3

#Weighted Average ---> 0,6 and 0,3 and 0,1 AlbumId+ArtistId+Track/3
data['Feature11']=(0.6*data['AlbumId'].values+0.3*data['ArtistId'].values+0.1*data['Track'].values)/3

#Weighted Average ---> 0,7 and 0,2 and 0,1 AlbumId+ArtistId+Track/3
data['Feature12']=(0.6*data['AlbumId'].values+0.2*data['ArtistId'].values+0.1*data['Track'].values)/3

#Weighted Average ---> 0,8 and 0,15 and 0,05 AlbumId+ArtistId+Track/3
data['Feature13']=(0.8*data['AlbumId'].values+0.15*data['ArtistId'].values+0.05*data['Track'].values)/3

#Summation ---> AlbumId+ArtistId+Track+Genre1
data['Feature14']=data['AlbumId'].values+data['ArtistId'].values+data['Track'].values+data['Genre1'].values

#Average ---> AlbumId+ArtistId+Track+Genre1/4
data['Feature15']=(data['AlbumId'].values+data['ArtistId'].values+data['Track'].values+data['Genre1'].values)/4

#Summation ---> AlbumId+ArtistId+Track+Genre1+Genre2
data['Feature16']=data['AlbumId'].values+data['ArtistId'].values+data['Track'].values+data['Genre1'].values+data['Genre2'].values

#Average ---> (AlbumId+ArtistId+Track+Genre1+Genre2)/5

data['Feature17']=(data['AlbumId'].values+data['ArtistId'].values+data['Track'].values+data['Genre1'].values+data['Genre2'].values)

#Summation ---> AlbumId+ArtistId+Track+Genre1+Genre2+Genre3+Genre4+Genre5+Genre6
data['Feature18']=(data['AlbumId'].values+data['ArtistId'].values+data['Track'].values
                   +data['Genre1'].values+data['Genre2'].values
                   +data['Genre3'].values+data['Genre4'].values
                  +data['Genre5'].values+data['Genre6'].values)

#Average --->(AlbumId+ArtistId+Track+Genre1+Genre2+Genre3+Genre4+Genre5+Genre6)/8

data['Feature19']=(data['AlbumId'].values+data['ArtistId'].values+data['Track'].values
                   +data['Genre1'].values+data['Genre2'].values
                   +data['Genre3'].values+data['Genre4'].values
                  +data['Genre5'].values+data['Genre6'].values)/8

#Standart Mean --->AlbumId+ArtistId+Track+Genre1+Genre2+Genre3+Genre4+Genre5+Genre6
data['Feature20']=data[['AlbumId']].mean(axis=1,skipna=True)

#Standart Deviation --->AlbumId+ArtistId+Track+Genre1+Genre2+Genre3+Genre4+Genre5+Genre6
data

,AlbumId,ArtistId,Track,Genre1,Genre2,Genre3,Genre4,Genre5,Genre6,Feature1,...,Feature11,Feature12,Feature13,Feature14,Feature15,Feature16,Feature17,Feature18,Feature19,Feature20
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
1,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,80.0,80.0,80.0,10.00,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
4,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,...,7.0,4.666667,3.5,70.0,17.5,70.0,70.0,70.0,8.75,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
119996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
119997,90.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180.0,...,27.0,24.000000,28.5,180.0,45.0,180.0,180.0,180.0,22.50,90.0
119998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
119999,90.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180.0,...,27.0,24.000000,28.5,180.0,45.0,180.0,180.0,180.0,22.50,90.0

In [6]:
data.to_csv('21_Features.csv')

In [128]:
pca=PCA(n_components=1)
pca_data=pca.fit_transform(data)

In [129]:
pca_dataframe=pd.DataFrame(data=pca_data,columns=['Predictor'])
pca_dataframe.abs()

         Predictor
0       228.195105
1       122.368312
2       228.195105
3       228.195105
4        47.296141
...            ...
119995  228.195105
119996  228.195105
119997  260.243855
119998  228.195105
119999  260.243855

[120000 rows x 1 columns]

In [130]:
Output=pd.read_csv('OUTPUT3.csv')
Output['Predictor']=pca_dataframe.abs()
Output

              TrackId   Predictor
0       199810_208019  228.195105
1        199810_74139  122.368312
2         199810_9903  228.195105
3       199810_242681  228.195105
4        199810_18515   47.296141
...               ...         ...
119995   249010_72192  228.195105
119996   249010_86104  228.195105
119997  249010_186634  260.243855
119998  249010_293818  228.195105
119999  249010_262811  260.243855

[120000 rows x 2 columns]

In [131]:
# Output.to_csv('OUTPUT_PCA_Feature_Engineering.csv',index=None)

In [132]:
model = NMF(n_components=1, init='random', random_state=0)
W = model.fit_transform(data)
H = model.components_
decomposition_data=pd.DataFrame(data=W,columns=['Predictor'])
decomposition_data

        Predictor
0        0.000000
1        1.851410
2        0.000000
3        0.000000
4        3.068696
...           ...
119995   0.000000
119996   0.000000
119997   8.223332
119998   0.000000
119999   8.223332

[120000 rows x 1 columns]

In [133]:
Output2=pd.read_csv('OUTPUT3.csv')
Output2['Predictor']=decomposition_data
Output2

              TrackId  Predictor
0       199810_208019   0.000000
1        199810_74139   1.851410
2         199810_9903   0.000000
3       199810_242681   0.000000
4        199810_18515   3.068696
...               ...        ...
119995   249010_72192   0.000000
119996   249010_86104   0.000000
119997  249010_186634   8.223332
119998  249010_293818   0.000000
119999  249010_262811   8.223332

[120000 rows x 2 columns]

In [134]:
# Output.to_csv('OUTPUT_Decomposition_Feature_Engineering.csv',index=None)

In [137]:
features=['AlbumId','ArtistId','Track','Genre1','Genre2','Genre3','Genre4','Genre5','Genre6']
a=['Feature'+str(i) for i in range(1,21)]
for i in a:
    features.append(i)

In [146]:
Output3=pd.read_csv('OUTPUT3.csv')
Output3['Predictor']=(data[features].sum(axis=1))/20
Output3

              TrackId  Predictor
0       199810_208019     0.0000
1        199810_74139    16.5000
2         199810_9903     0.0000
3       199810_242681     0.0000
4        199810_18515    32.1125
...               ...        ...
119995   249010_72192     0.0000
119996   249010_86104     0.0000
119997  249010_186634    96.8625
119998  249010_293818     0.0000
119999  249010_262811    96.8625

[120000 rows x 2 columns]

In [148]:
Output3.to_csv('OUTPUT_SummationFeatures_Feature_Engineering.csv',index=None)